body {
  margin: 0;
}

#header-container {
  background-color: black;
  font-family: "Kaushan Script", cursive;
  font-weight: bold;
  margin: 0 5% 0 5%;
  text-transform: uppercase;
}

#header-container a {
  color: white;
  text-decoration: none;
}

#nav-section-1 {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  width: 20%;
}

#nav-section-2 {
  display: inline-block;
  text-align: center;
  width: 50%;
}

#nav-section-2 li {
  display: inline-block;
  margin-right: 30px;
}

#nav-section-3 {
  display: inline-block;
  width: 20%;
}

#nav-section-3 li {
  display: inline-block;
  margin-right: 30px;
}
